body {
    font-family: Garamond, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(200, 200, 200);
}

.faq-container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background : whitesmoke;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-item {
    border-bottom: 1px solid rgba(179, 179, 179, 0.715);
}

.question {
    padding: 15px;
    cursor: pointer;
    display: left;
    justify-content: space-between;
    align-items: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color:grey;
}

.question:hover {
    background-color: #e0e0e0;
}

.answer {
    display: none;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.rotate {
    transform: rotate(180deg);
}